.intro-wrapper {
  border-top: 1px solid black;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: transparent;
}

.intro {
  h1 {
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: 20px;
    color: $dark-grey;
    font-weight: 500;
  }

  &__button {
    margin-top: 3rem;
  }

  margin: auto;
  background-color: white;
}

.introduction {
  max-width: 2000px;
  text-align: center;
  margin-top: 10rem !important;
  width: 100%;
  margin: auto;
  h2 {
    text-align: center !important;
  }
}

.intro__section {
  max-width: 2000px;
  display: flex;
  align-items: center;
  margin-top: 5rem !important;
  gap: 10rem;
  margin: auto;
  width: 70%;

  div {
    width: 50%;
  }

  &__image {
    display: flex;
    justify-content: center;
  }

  img {
    width: 30rem;
    height: auto;
  }
}

.completion-background {
  background-color: #1e1e1e;
  background-position: center;
  width: 100%;
  display: flex;
  margin-top: 5rem;
  align-items: center;
  height: 35rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.completion {
  max-width: 2000px;

  .intro__section__text {
    text-align: right;
    width: 50%;
    h1 {
      color: white;
    }
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}

footer {
  div {
    max-width: 2000px;
    width: 90%;
    margin: auto;
    padding-bottom: 3rem;
  }
  h1 {
    padding-top: 5rem;
    padding-bottom: 10rem;
    width: 100%;
    text-align: right;
  }

  margin-top: 20rem;
  height: auto;
  background-color: $light-grey;
}
