$breakpoint-mobile: 790px;
$breakpoint-tablet: 1075px;

@media (max-width: $breakpoint-tablet) {
  h1 {
    font-size: 20px !important;
  }

  .header__welcome {
    h2 {
      font-size: 13px;
      width: 100%;
    }
  }

  .day {
    font-size: 40px !important;
  }

  .calendar-day {
    font-size: 10px !important;
    height: 15px !important;
    width: 15px !important;
    padding: 2px !important;
  }

  .calendar-body,
  .calendar-weekdays {
    width: 200px !important;
  }

  .tracking {
    &__progress,
    &__completed {
      gap: 0.5vw !important;
      justify-content: space-evenly;
    }

    h3 {
      font-size: 40px !important;
    }
    h4 {
      font-size: 12px;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .menu__wrapper,
  .calendar,
  .tracking,
  .header__data {
    display: none !important;
  }

  .tasks {
    div {
      display: none;
    }
  }

  .menu__modal {
    z-index: 2 !important;
  }

  .tasks__mobile {
    display: block;
  }

  .tasks--mobile {
    display: block;

    .tasks__toggle {
      display: flex;
      justify-content: space-between;
    }
  }

  .homepage {
    display: flex;
    flex-direction: column;
  }

  .header__welcome {
    width: 100% !important;
    flex-basis: auto;

    img {
      width: 10rem;
    }
  }

  .mobile__menu--toggled {
    width: 80%;
    height: 100vh;
    position: fixed;
    background-color: $purple;
    z-index: 3;
    margin: 0px;
    padding: 0px;
    top: 0;
    left: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 1px solid black;
  }

  .logout {
    position: absolute;
    bottom: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
  }

  .mobile__menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: $luxora !important;

    &__purple,
    &__below {
      padding: 20px;
    }

    &__purple {
      height: 30vh;
      color: white;
    }

    &__above {
      height: 23vh;
      align-items: flex-end;
      display: flex;
    }

    &__content {
      display: flex;
      gap: 10px;
      align-items: center;
      margin-bottom: 10px;
    }

    &__below {
      background-color: black;
      height: 70vh;
      color: white;

      &__content {
        display: flex;
        gap: 10px;
        align-items: center;
        cursor: pointer;
        position: relative;
      }
    }

    &__pfp {
      img,
      svg {
        border-radius: 100%;
        width: 50px;
        height: 50px;
      }
    }

    &__text {
      h3 {
        font-size: 20px !important;
        font-weight: 600;
      }
    }

    &__add {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 2;
      border-radius: 100%;
      background-color: white;

      img {
        width: 60px;
        height: 60px;
      }
    }
  }

  .tasks__toggle {
    h3 {
      font-family: $luxora;
      font-size: 14px;
      font-weight: 600;
    }

    .mytasks,
    .tasks--active {
      border-bottom: 3px solid $green;
    }

    .completed {
      border-bottom: 2px solid $aquamarine;
    }
  }

  .tasks__all__title {
    font-family: $luxora;
    font-weight: 600;
    font-size: 14px;
    width: max-content;
    border-bottom: 3px solid $purple;
  }

  .tasks__containers {
    width: 100%;
    overflow: scroll;
    height: 40vh;

    .tasks__user__cards,
    .tasks__all__cards {
      display: flex;
      flex-direction: row !important;
      overflow: scroll;
      width: max-content + 10px;
      height: 36vh;
      align-items: center;

      .tasks__ui {
        padding: 10px;
        height: 220px;
        min-width: 150px;
        position: relative;

        .content__below {
          position: absolute;
          bottom: 10px;
          width: 85%;
          flex-direction: column;

          hr {
            margin: 5px 0px 10px 0px;
          }

          &__icons {
            justify-content: space-between;

            .author {
              i {
                font-size: 20px !important;
              }
            }
          }
        }

        h4 {
          font-size: 15px;
        }

        svg {
          font-size: 16px;
        }

        .desc,
        .date,
        .tags {
          font-size: 10px;
        }

        .desc {
          max-height: 40%;
          overflow: scroll;
        }

        .tags__wrapper {
          width: 100%;
          overflow: scroll;
          height: auto;

          .tags {
            margin-top: 5px;
            display: flex;
            overflow: scroll;
            align-items: center;
            width: max-content;
          }
        }
      }
    }
  }

  h1 {
    font-size: 20px !important;
  }

  h2 {
    font-size: 15px !important;
  }

  .login {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    min-height: auto;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;

    &__background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../assets/backgrounds/login.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;
    }

    &__image {
      background-image: none;
      background-attachment: fixed;
      max-height: 16vh;
      min-height: 16vh;
      margin-bottom: 5rem;
    }
  }

  .form__container {
    border-top: 1px solid black;
    width: 100%;
    background-color: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: auto;
    position: relative;
    margin-top: 0px;

    .form {
      margin-top: 5rem;
      position: relative;
      width: 75%;
    }
  }

  .intro-wrapper {
    border-top: 0px;

    .introduction {
      width: 85%;
    }
  }

  .section-home {
    height: max-content;
    min-height: auto;
    margin-top: 0px !important;
    padding-top: 0px !important;
  }

  .intro__section {
    flex-direction: column;
    gap: 5rem;
    text-align: center;

    img {
      width: 20rem;
      height: auto;
    }

    div {
      margin-top: 0px;
      width: 100%;
    }

    .completion,
    .intro__section__text {
      width: 100% !important;
      text-align: center !important;

      h2 {
        text-align: center !important;
      }
    }
  }

  .completion-background {
    height: 40rem;
  }

  .completion {
    display: flex !important;
    flex-direction: column-reverse !important;
    margin-top: 3rem !important;
  }

  footer {
    div {
      width: 70%;
    }
  }

  .settings {
    aside {
      display: none !important;
    }

    main {
      width: 100% !important;
      margin: auto;

      .header__welcome,
      .card {
        width: auto !important;

        div {
          text-align: right;
        }

        img {
          left: 0px !important;
        }
      }
    }

    .form-container {
      height: auto !important;

      form {
        margin-top: 0px !important;
        margin-bottom: 4rem;
      }
    }

    .form-settings {
      display: flex;
      flex-direction: column;
      gap: 0px;

      &__left {
        img {
          width: 100px;
        }

        display: flex !important;
        flex-direction: row;
      }

      &__left,
      &__right {
        width: 100%;
      }
    }
  }
}
