$breakpoint-mobile: 790px;
$breakpoint-tablet: 1075px;

@media (max-width: $breakpoint-tablet) {
  h1 {
    font-size: 20px !important;
  }

  .header__welcome {
    h2 {
      font-size: 13px;
      width: 100%;
    }
  }

  .day {
    font-size: 40px !important;
  }

  .calendar-day {
    font-size: 10px !important;
    height: 15px !important;
    width: 15px !important;
    padding: 2px !important;
  }

  .calendar-body,
  .calendar-weekdays {
    width: 200px !important;
  }

  .tracking {
    &__progress,
    &__completed {
      gap: 0.5vw !important;
      justify-content: space-evenly;
    }

    h3 {
      font-size: 40px !important;
    }
    h4 {
      font-size: 12px;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .menu__wrapper,
  .calendar,
  .tracking {
    display: none !important;
  }

  .mobile__menu {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &__pfp {
      img {
        border-radius: 100%;
        width: 50px;
        height: 50px;
      }
    }
  }

  h1 {
    font-size: 20px !important;
  }

  h2 {
    font-size: 15px !important;
  }

  .login {
    display: flex;
    flex-direction: column;
    background-attachment: local;

    &__image {
      width: 100%;
      height: 30vh;
      max-height: 30vh;
      min-height: 30vh;
    }
  }

  .form__container {
    border-top: 1px solid black;
    width: 100%;
    margin-top: 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: auto;

    .form {
      margin-top: 5rem;
      position: relative;
      width: 75%;
    }
  }

  .intro-wrapper {
    border-top: 0px;

    .introduction {
      width: 85%;
    }
  }

  .intro__section {
    flex-direction: column;
    gap: 5rem;
    text-align: center;

    img {
      width: 20rem;
      height: auto;
    }

    div {
      margin-top: 0px;
      width: 100%;
    }

    .completion,
    .intro__section__text {
      text-align: center;
      width: 100% !important;
    }
  }

  .completion-background {
    height: 40rem;
  }

  .completion {
    display: flex !important;
    flex-direction: column-reverse !important;
    margin-top: 3rem !important;
  }

  footer {
    div {
      width: 70%;
    }
  }
}
