@import "resets";
@import "homepage";
@import "login";
@import "variables";
@import "intro";
@import "mediaqueries";

html,
body {
  scroll-behavior: smooth;
}

canvas {
  display: none;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  font-family: $luxora;
}

h2 {
  color: $dark-grey;
  font-weight: 500;
}
