@import "resets";
@import "homepage";
@import "login";
@import "variables";
@import "intro";
@import "mediaqueries";
@import "settings";
@import "modals";

html,
body {
  scroll-behavior: smooth;
}

canvas {
  display: none;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  font-family: $luxora;
}

h2 {
  color: $dark-grey;
  font-weight: 500;
  font-family: $luxora;
}

svg {
  cursor: pointer;
}

textarea {
  font-size: 16px;
}

.pfp {
  width: 10vw;
  max-width: 45px;
  max-height: 45px;
  height: 10vw;
  border-radius: 50%;
  background-size: cover;
}
