@import "menu";
@import "task";
@import "variables";
@import "calendar";

.homepage {
  padding: 15px;
  display: flex;

  .menu__wrapper {
    display: block;
  }
}

.header__welcome {
  width: 55%;
  padding: 2rem;
  position: relative;
  display: flex;

  img {
    position: absolute;
    width: 170px;
    height: auto;
    right: 50px;
    bottom: 0;
  }
}

.main {
  width: 100%;
  max-width: 1900px;

  header {
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
  }

  .card {
    border: 1px solid black;
    border-radius: 13px;
    margin-top: 10px;
  }

  h2 {
    font-size: 15px;
    font-weight: 500;
    padding: 10px 10px 5px 0px;
    color: gray;
    text-align: left;
    margin: 20px 0px 0px 0px !important;
  }

  .header__data {
    width: 45%;
    display: flex;
    gap: 20px;
  }

  .tracking {
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &__progress,
    &__completed {
      display: flex;
      gap: 20px;
      width: 90%;
      justify-content: center;
      align-items: center;

      h3 {
        font-size: 50px;
        font-weight: 700;
      }

      h4 {
        display: flex;
        font-weight: 600;
        flex-direction: column;
      }
    }

    &__progress {
      padding-bottom: 20px;
      border-bottom: 1px solid black;
    }

    &__completed {
      padding-top: 20px;
    }
  }

  .tracking {
    padding: 1rem;
    display: flex;
    align-items: center;
  }
}

.tasks {
  display: flex;
  gap: 1vw;
  width: 100%;

  &__containers {
    flex: 1;
    min-width: none;
    box-sizing: border-box;
  }

  h3 {
    padding: 10px 10px 10px 0px;
    font-weight: 700;
  }

  &__user {
    flex-basis: calc(20% - 10px);

    h3 {
      border-bottom: 3px solid $green;
    }

    &__cards {
      display: flex;
      gap: 5px;
      flex-direction: column;
      margin-top: 10px;
    }
  }

  &__all {
    flex-basis: calc(60% - 20px);

    h3 {
      border-bottom: 3px solid $purple;
    }

    &__cards {
      // display: grid;
      // grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
      display: flex;
      justify-content: left;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
      list-style: none;
      gap: 6px;
      margin-top: 10px;
    }
  }

  &__completed {
    flex-basis: calc(20% - 10px);

    h3 {
      border-bottom: 3px solid $aquamarine;
    }
  }
}

@media screen and (max-width: 995px) {
}

.settings {
  display: flex;
}
