@import "variables";

.login {
  display: flex;
  min-height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &__image {
    background-image: url("../assets/backgrounds/login.png");
    height: 100vh;
    background-size: contain;
    width: 45%;
    min-height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
  }

  p {
    margin-top: 40px;
    a {
      color: aquamarine;
    }

    u {
      color: $purple;
      font-size: 15px;
      cursor: pointer;
      margin-top: 0px !important;
    }
  }
}

.form__container {
  position: relative;
  margin: auto;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  right: 0;
  justify-content: center;
  align-items: center;
}

.form {
  justify-content: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 30%;
  position: fixed;

  z-index: 1;

  &__buttons {
    display: flex;
    justify-content: space-around;

    &--active {
      color: black;
      padding-bottom: 5px;
      border-bottom: 3px solid $aquamarine;
    }

    &--inactive {
      color: $dark_grey;
      border-bottom: 3px solid transparent;
      cursor: pointer;
    }
  }
}

h2 {
  margin-top: 50px;
  color: $dark_grey;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    color: gray;
  }

  input {
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
  }

  u {
    color: $purple;
    font-size: 15px;
    cursor: pointer;
    margin-top: 0px !important;
  }
}

.warning {
  color: $red;
  font-size: 15px;
  cursor: pointer;
  margin-top: 0px !important;
}

.section-home {
  display: block;
  height: auto;
  width: 100%;
  background-color: white;
  z-index: 2;
}

.parallax {
  display: flex;
  flex-direction: column;
}
